<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kbc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 카메라 권한 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 카메라 저장 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Etc.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KBC"
        android:usesCleartextTraffic="true">
        <activity android:name=".Payment.Payment_Check_Activity"></activity>
        <activity android:name=".Purchase.Personal_Purchase_Inquiry_Activity" />
        <activity
            android:name=".Sale.StoreManager_Product_Modify_Activity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Sale.StoreManager_Product_Inquiry_Activity" />
        <activity
            android:name=".Sale.StoreManager_Product_Register_Activity"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="kakao26e7f00a7916014db9a382d3086501a4" />

        <activity
            android:name=".StoreManger.StoreManager_MainActivity"
            android:exported="true" />
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="26e7f00a7916014db9a382d3086501a4" />
            </intent-filter>
        </activity>
        <activity android:name=".Common.Intro_Activity" />
        <activity android:name=".Added_Done_Activity" />
        <activity android:name=".Common.EmptyStoreInfo_Activity" />
        <activity android:name=".Common.Login_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StoreManger.StoreManager_Add_Manager_Info_Activity" />
        <activity android:name=".StoreManger.StoreManager_Add_Store_Info_Activity" />
        <activity android:name=".Etc.WebViewActivity" />
        <activity android:name=".Pickup.PickupDetailActivity" />

        <activity android:name=".Pickup.Personal_PickupDetailActivity"></activity>
        <activity android:name=".Personal_MainActivity"></activity>

        <activity android:name=".Personal_Add_Information" />
        <activity android:name=".Image.Image_Check_Activity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.kbc.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Popup_TwoButton_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".Popup_OneButton_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".Image.Image_Popup_Activity"
            android:theme="@style/popupTheme" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />

        <activity android:name=".Chatting.Chatting_Send_Activity" />
    </application>

</manifest>